## Import relevant libraries

In [1]:
import pandas as pd
from datetime import datetime, timedelta

## Load the datasets

In [2]:
customers = pd.read_csv('customers.csv')
products = pd.read_csv('products.csv')
ratings = pd.read_csv('ratings.csv')
orders = pd.read_csv('orders.csv')

In [3]:
customers.head()

   customer_id        name
0            1  Customer_1
1            2  Customer_2
2            3  Customer_3
3            4  Customer_4
4            5  Customer_5

In [4]:
products.head()

   product_id      product_name  price           category
0           1       Ektorp Sofa    694  Sofas & Armchairs
1           2    Poäng Armchair    569  Sofas & Armchairs
2           3  Klippan Loveseat    639  Sofas & Armchairs
3           4    Malm Bed Frame    202               Beds
4           5     Hemnes Daybed    845               Beds

In [5]:
ratings.head()

   customer_id  product_id  rating
0           83          31       2
1           73          38       3
2            2          18       1
3          100          39       3
4           47          16       1

In [6]:
orders.head()

   order_id  customer_id  product_id                  order_date  quantity
0         1           66          38  2023-08-09 08:39:23.971834         4
1         2           10          29  2023-09-08 08:39:23.971834         4
2         3           58           9  2023-07-29 08:39:23.971834         3
3         4           33          44  2023-09-13 08:39:23.971834         4
4         5           32          47  2023-07-24 08:39:23.971834         2

## Convert order_date to datetime

In [7]:
orders['order_date'] = pd.to_datetime(orders['order_date'])

In [8]:
orders

     order_id  customer_id  product_id                 order_date  quantity
0           1           66          38 2023-08-09 08:39:23.971834         4
1           2           10          29 2023-09-08 08:39:23.971834         4
2           3           58           9 2023-07-29 08:39:23.971834         3
3           4           33          44 2023-09-13 08:39:23.971834         4
4           5           32          47 2023-07-24 08:39:23.971834         2
..        ...          ...         ...                        ...       ...
995       996           30          42 2023-08-15 08:39:23.971834         4
996       997            3          16 2023-09-11 08:39:23.971834         2
997       998           84          29 2023-09-05 08:39:23.971834         2
998       999           77          43 2023-08-13 08:39:23.971834         4
999      1000           19          32 2023-09-07 08:39:23.971834         3

[1000 rows x 5 columns]

## Filter orders for the last month

In [9]:
last_month = max(orders['order_date']) - timedelta(days=30)
last_month_orders = orders[orders['order_date']>=last_month]

In [10]:
last_month_orders

     order_id  customer_id  product_id                 order_date  quantity
1           2           10          29 2023-09-08 08:39:23.971834         4
3           4           33          44 2023-09-13 08:39:23.971834         4
5           6           75           1 2023-09-07 08:39:23.971834         4
7           8           36          39 2023-08-19 08:39:23.971834         2
14         15           37          27 2023-08-25 08:39:23.971834         1
..        ...          ...         ...                        ...       ...
992       993           33          18 2023-08-28 08:39:23.971834         2
993       994           90          32 2023-08-22 08:39:23.971834         2
996       997            3          16 2023-09-11 08:39:23.971834         2
997       998           84          29 2023-09-05 08:39:23.971834         2
999      1000           19          32 2023-09-07 08:39:23.971834         3

[524 rows x 5 columns]

## Merge orders with products to get product details

In [11]:
merged_orders = last_month_orders.merge(products, on='product_id')

In [12]:
merged_orders

,order_id,customer_id,product_id,order_date,quantity,product_name,price,category
0,2,10,29,2023-09-08 08:39:23.971834,4,Råskog Stool,855,Chairs
1,70,35,29,2023-08-28 08:39:23.971834,2,Råskog Stool,855,Chairs
2,74,99,29,2023-08-27 08:39:23.971834,2,Råskog Stool,855,Chairs
3,109,81,29,2023-09-17 08:39:23.971834,2,Råskog Stool,855,Chairs
4,248,41,29,2023-08-29 08:39:23.971834,3,Råskog Stool,855,Chairs
...,...,...,...,...,...,...,...,...
519,391,100,12,2023-08-24 08:39:23.971834,2,Raskog Trolley,764,Storage Solutions
520,825,95,12,2023-09-01 08:39:23.971834,3,Raskog Trolley,764,Storage Solutions
521,858,39,12,2023-09-10 08:39:23.971834,4,Raskog Trolley,764,Storage Solutions
522,926,8,12,2023-08-21 08:39:23.971834,2,Raskog Trolley,764,Storage Solutions
523,949,89,12,2023-09-11 08:39:23.971834,3,Raskog Trolley,764,Storage Solutions

## Calculate revenue and total units sold for each product

In [14]:
product_performance = merged_orders.groupby('product_id').agg(
    total_revenue=pd.NamedAgg(column='price', aggfunc='sum'),
    total_units_sold=pd.NamedAgg(column='quantity', aggfunc='sum')).reset_index()

In [15]:
product_performance

    product_id  total_revenue  total_units_sold
0            1           6940                32
1            2           6828                32
2            3           5751                28
3            4           2020                17
4            5          10985                35
5            6          12368                40
6            7           6453                19
7            8           5535                31
8            9            171                23
9           10           5131                17
10          11           3157                22
11          12           3820                14
12          13           8140                26
13          14           3045                10
14          15            720                17
15          16           4820                19
16          17           7320                32
17          18           4060                26
18          19           2592                23
19          20           4290                11
20          21           3968                22
21          22           5610                29
22          23            873                19
23          24           2024                23
24          25           6100                26
25          26           9449                28
26          27           8244                24
27          28           4376                20
28          29          13680                36
29          30           1148                31
30          31          13379                45
31          32           4630                11
32          33            875                14
33          34          12818                32
34          35           6885                18
35          36           6471                21
36          37          11998                30
37          38           6615                34
38          39           6870                31
39          40           6880                21
40          41           1090                28
41          42           6958                21
42          43           1309                23
43          44           7650                25
44          45           4842                14
45          46           7359                29
46          47           1884                28
47          48          12880                29
48          49           8227                44
49          50           3278                32

## Merge with product details

In [17]:
product_performance = product_performance.merge(products, on='product_id')

In [18]:
product_performance

,product_id,total_revenue,total_units_sold,product_name,price,category
0,1,6940,32,Ektorp Sofa,694,Sofas & Armchairs
1,2,6828,32,Poäng Armchair,569,Sofas & Armchairs
2,3,5751,28,Klippan Loveseat,639,Sofas & Armchairs
3,4,2020,17,Malm Bed Frame,202,Beds
4,5,10985,35,Hemnes Daybed,845,Beds
5,6,12368,40,Brimnes Bed Storage,773,Beds
6,7,6453,19,Lack Side Table,717,Tables & Desks
7,8,5535,31,Melltorp Dining Table,369,Tables & Desks
8,9,171,23,Micke Desk,19,Tables & Desks
9,10,5131,17,Kallax Shelving Unit,733,Storage Solutions
10,11,3157,22,Billy Bookcase,287,Storage Solutions
11,12,3820,14,Raskog Trolley,764,Storage Solutions
12,13,8140,26,Terje Folding Chair,814,Chairs
13,14,3045,10,Ingolf Bar Stool,609,Chairs
14,15,720,17,Bernhard Chair,80,Chairs
15,16,4820,19,Ranarp Lamp,482,Lighting
16,17,7320,32,Sinnerlig Pendant Lamp,610,Lighting
17,18,4060,26,Skurup Ceiling Lamp,406,Lighting
18,19,2592,23,Ribba Frame,324,Decor
19,20,4290,11,Pjatteryd Picture,715,Decor
20,21,3968,22,Stockholm Mirror,496,Decor
21,22,5610,29,Nordli Chest Drawers,561,Decor
22,23,873,19,Stuva Loft Bed,97,Beds
23,24,2024,23,Askvoll Wardrobe,184,Storage Solutions
24,25,6100,26,Rens Sheepskin Rug,610,Decor
25,26,9449,28,Docksta Table,859,Tables & Desks
26,27,8244,24,Ivar Cabinet,687,Storage Solutions
27,28,4376,20,Tarva Nightstand,547,Decor
28,29,13680,36,Råskog Stool,855,Chairs
29,30,1148,31,Strandmon Wing Chair,82,Chairs
30,31,13379,45,Nockeby Sofa,787,Sofas & Armchairs
31,32,4630,11,Kivik Chaise,926,Sofas & Armchairs
32,33,875,14,Lerhamn Chair,125,Chairs
33,34,12818,32,Fjälla Storage Box,986,Storage Solutions
34,35,6885,18,Rugveda Coffee Table,765,Tables & Desks
35,36,6471,21,Gronlid Armchair,719,Decor
36,37,11998,30,Fredde Desk,857,Tables & Desks
37,38,6615,34,Bekant Conference Table,441,Tables & Desks
38,39,6870,31,Mackapar Shoe Storage,458,Storage Solutions
39,40,6880,21,Lommarp Bookcase,860,Storage Solutions
40,41,1090,28,Tingby Side Table,109,Tables & Desks
41,42,6958,21,Småstad Wardrobe,994,Storage Solutions
42,43,1309,23,Sjöpenna Floor Lamp,187,Lighting
43,44,7650,25,Koppang Dresser,765,Decor
44,45,4842,14,Hektar Work Lamp,807,Lighting
45,46,7359,29,Valje Wall Cabinet,669,Storage Solutions
46,47,1884,28,Nymö Lamp Shade,157,Lighting
47,48,12880,29,Bestå TV Bench,920,Decor
48,49,8227,44,Söderhamn Sofa Section,433,Sofas & Armchairs
49,50,3278,32,Mörbylånga Table,298,Tables & Desks

## Sort by total revenue and total units sold to get top-performing products

In [43]:
top_products_by_revenue = product_performance.sort_values(by='total_revenue', ascending=False)
top_products_by_units_sold = product_performance.sort_values(by='total_units_sold', ascending=False)

In [44]:
top_products_by_revenue

,product_id,total_revenue,total_units_sold,product_name,price,category
28,29,13680,36,Råskog Stool,855,Chairs
30,31,13379,45,Nockeby Sofa,787,Sofas & Armchairs
47,48,12880,29,Bestå TV Bench,920,Decor
33,34,12818,32,Fjälla Storage Box,986,Storage Solutions
5,6,12368,40,Brimnes Bed Storage,773,Beds
36,37,11998,30,Fredde Desk,857,Tables & Desks
4,5,10985,35,Hemnes Daybed,845,Beds
25,26,9449,28,Docksta Table,859,Tables & Desks
26,27,8244,24,Ivar Cabinet,687,Storage Solutions
48,49,8227,44,Söderhamn Sofa Section,433,Sofas & Armchairs
12,13,8140,26,Terje Folding Chair,814,Chairs
43,44,7650,25,Koppang Dresser,765,Decor
45,46,7359,29,Valje Wall Cabinet,669,Storage Solutions
16,17,7320,32,Sinnerlig Pendant Lamp,610,Lighting
41,42,6958,21,Småstad Wardrobe,994,Storage Solutions
0,1,6940,32,Ektorp Sofa,694,Sofas & Armchairs
34,35,6885,18,Rugveda Coffee Table,765,Tables & Desks
39,40,6880,21,Lommarp Bookcase,860,Storage Solutions
38,39,6870,31,Mackapar Shoe Storage,458,Storage Solutions
1,2,6828,32,Poäng Armchair,569,Sofas & Armchairs
37,38,6615,34,Bekant Conference Table,441,Tables & Desks
35,36,6471,21,Gronlid Armchair,719,Decor
6,7,6453,19,Lack Side Table,717,Tables & Desks
24,25,6100,26,Rens Sheepskin Rug,610,Decor
2,3,5751,28,Klippan Loveseat,639,Sofas & Armchairs
21,22,5610,29,Nordli Chest Drawers,561,Decor
7,8,5535,31,Melltorp Dining Table,369,Tables & Desks
9,10,5131,17,Kallax Shelving Unit,733,Storage Solutions
44,45,4842,14,Hektar Work Lamp,807,Lighting
15,16,4820,19,Ranarp Lamp,482,Lighting
31,32,4630,11,Kivik Chaise,926,Sofas & Armchairs
27,28,4376,20,Tarva Nightstand,547,Decor
19,20,4290,11,Pjatteryd Picture,715,Decor
17,18,4060,26,Skurup Ceiling Lamp,406,Lighting
20,21,3968,22,Stockholm Mirror,496,Decor
11,12,3820,14,Raskog Trolley,764,Storage Solutions
49,50,3278,32,Mörbylånga Table,298,Tables & Desks
10,11,3157,22,Billy Bookcase,287,Storage Solutions
13,14,3045,10,Ingolf Bar Stool,609,Chairs
18,19,2592,23,Ribba Frame,324,Decor
23,24,2024,23,Askvoll Wardrobe,184,Storage Solutions
3,4,2020,17,Malm Bed Frame,202,Beds
46,47,1884,28,Nymö Lamp Shade,157,Lighting
42,43,1309,23,Sjöpenna Floor Lamp,187,Lighting
29,30,1148,31,Strandmon Wing Chair,82,Chairs
40,41,1090,28,Tingby Side Table,109,Tables & Desks
32,33,875,14,Lerhamn Chair,125,Chairs
22,23,873,19,Stuva Loft Bed,97,Beds
14,15,720,17,Bernhard Chair,80,Chairs
8,9,171,23,Micke Desk,19,Tables & Desks

In [45]:
top_products_by_units_sold

,product_id,total_revenue,total_units_sold,product_name,price,category
30,31,13379,45,Nockeby Sofa,787,Sofas & Armchairs
48,49,8227,44,Söderhamn Sofa Section,433,Sofas & Armchairs
5,6,12368,40,Brimnes Bed Storage,773,Beds
28,29,13680,36,Råskog Stool,855,Chairs
4,5,10985,35,Hemnes Daybed,845,Beds
37,38,6615,34,Bekant Conference Table,441,Tables & Desks
0,1,6940,32,Ektorp Sofa,694,Sofas & Armchairs
16,17,7320,32,Sinnerlig Pendant Lamp,610,Lighting
33,34,12818,32,Fjälla Storage Box,986,Storage Solutions
1,2,6828,32,Poäng Armchair,569,Sofas & Armchairs
49,50,3278,32,Mörbylånga Table,298,Tables & Desks
7,8,5535,31,Melltorp Dining Table,369,Tables & Desks
38,39,6870,31,Mackapar Shoe Storage,458,Storage Solutions
29,30,1148,31,Strandmon Wing Chair,82,Chairs
36,37,11998,30,Fredde Desk,857,Tables & Desks
21,22,5610,29,Nordli Chest Drawers,561,Decor
47,48,12880,29,Bestå TV Bench,920,Decor
45,46,7359,29,Valje Wall Cabinet,669,Storage Solutions
2,3,5751,28,Klippan Loveseat,639,Sofas & Armchairs
46,47,1884,28,Nymö Lamp Shade,157,Lighting
40,41,1090,28,Tingby Side Table,109,Tables & Desks
25,26,9449,28,Docksta Table,859,Tables & Desks
24,25,6100,26,Rens Sheepskin Rug,610,Decor
12,13,8140,26,Terje Folding Chair,814,Chairs
17,18,4060,26,Skurup Ceiling Lamp,406,Lighting
43,44,7650,25,Koppang Dresser,765,Decor
26,27,8244,24,Ivar Cabinet,687,Storage Solutions
18,19,2592,23,Ribba Frame,324,Decor
42,43,1309,23,Sjöpenna Floor Lamp,187,Lighting
8,9,171,23,Micke Desk,19,Tables & Desks
23,24,2024,23,Askvoll Wardrobe,184,Storage Solutions
20,21,3968,22,Stockholm Mirror,496,Decor
10,11,3157,22,Billy Bookcase,287,Storage Solutions
41,42,6958,21,Småstad Wardrobe,994,Storage Solutions
39,40,6880,21,Lommarp Bookcase,860,Storage Solutions
35,36,6471,21,Gronlid Armchair,719,Decor
27,28,4376,20,Tarva Nightstand,547,Decor
22,23,873,19,Stuva Loft Bed,97,Beds
15,16,4820,19,Ranarp Lamp,482,Lighting
6,7,6453,19,Lack Side Table,717,Tables & Desks
34,35,6885,18,Rugveda Coffee Table,765,Tables & Desks
3,4,2020,17,Malm Bed Frame,202,Beds
14,15,720,17,Bernhard Chair,80,Chairs
9,10,5131,17,Kallax Shelving Unit,733,Storage Solutions
11,12,3820,14,Raskog Trolley,764,Storage Solutions
44,45,4842,14,Hektar Work Lamp,807,Lighting
32,33,875,14,Lerhamn Chair,125,Chairs
31,32,4630,11,Kivik Chaise,926,Sofas & Armchairs
19,20,4290,11,Pjatteryd Picture,715,Decor
13,14,3045,10,Ingolf Bar Stool,609,Chairs

## Calculate total revenue for each cutomer

In [46]:
customer_performance = merged_orders.groupby('customer_id').agg(
                        total_revenue=pd.NamedAgg('price', aggfunc='sum')).reset_index()

In [47]:
customer_performance

    customer_id  total_revenue
0             1           8109
1             2           1613
2             3           2386
3             4           6695
4             5           4262
..          ...            ...
95           96           2269
96           97            975
97           98           1067
98           99           3556
99          100           5070

[100 rows x 2 columns]

## Merge with customer details

In [48]:
customer_performance = customer_performance.merge(customers, on='customer_id')

In [49]:
customer_performance

    customer_id  total_revenue          name
0             1           8109    Customer_1
1             2           1613    Customer_2
2             3           2386    Customer_3
3             4           6695    Customer_4
4             5           4262    Customer_5
..          ...            ...           ...
95           96           2269   Customer_96
96           97            975   Customer_97
97           98           1067   Customer_98
98           99           3556   Customer_99
99          100           5070  Customer_100

[100 rows x 3 columns]

## Sort by total revenue to get top clients

In [50]:
top_clients = customer_performance.sort_values('total_revenue', ascending=False)

In [51]:
top_clients

    customer_id  total_revenue         name
0             1           8109   Customer_1
32           33           7154  Customer_33
3             4           6695   Customer_4
53           54           6635  Customer_54
51           52           6110  Customer_52
..          ...            ...          ...
62           63            726  Customer_63
45           46            639  Customer_46
86           87            521  Customer_87
57           58            496  Customer_58
81           82            267  Customer_82

[100 rows x 3 columns]

## Output results

In [61]:
print('Top performing products by revenue')
top_products_by_revenue[['product_name', 'total_revenue']]

Top performing products by revenue

               product_name  total_revenue
28             Råskog Stool          13680
30             Nockeby Sofa          13379
47           Bestå TV Bench          12880
33       Fjälla Storage Box          12818
5       Brimnes Bed Storage          12368
36              Fredde Desk          11998
4             Hemnes Daybed          10985
25            Docksta Table           9449
26             Ivar Cabinet           8244
48   Söderhamn Sofa Section           8227
12      Terje Folding Chair           8140
43          Koppang Dresser           7650
45       Valje Wall Cabinet           7359
16   Sinnerlig Pendant Lamp           7320
41         Småstad Wardrobe           6958
0               Ektorp Sofa           6940
34     Rugveda Coffee Table           6885
39         Lommarp Bookcase           6880
38    Mackapar Shoe Storage           6870
1            Poäng Armchair           6828
37  Bekant Conference Table           6615
35         Gronlid Armchair           6471
6           Lack Side Table           6453
24       Rens Sheepskin Rug           6100
2          Klippan Loveseat           5751
21     Nordli Chest Drawers           5610
7     Melltorp Dining Table           5535
9      Kallax Shelving Unit           5131
44         Hektar Work Lamp           4842
15              Ranarp Lamp           4820
31             Kivik Chaise           4630
27         Tarva Nightstand           4376
19        Pjatteryd Picture           4290
17      Skurup Ceiling Lamp           4060
20         Stockholm Mirror           3968
11           Raskog Trolley           3820
49         Mörbylånga Table           3278
10           Billy Bookcase           3157
13         Ingolf Bar Stool           3045
18              Ribba Frame           2592
23         Askvoll Wardrobe           2024
3            Malm Bed Frame           2020
46          Nymö Lamp Shade           1884
42      Sjöpenna Floor Lamp           1309
29     Strandmon Wing Chair           1148
40        Tingby Side Table           1090
32            Lerhamn Chair            875
22           Stuva Loft Bed            873
14           Bernhard Chair            720
8                Micke Desk            171

In [62]:
print('Top Performing Products by Units Sold')
top_products_by_revenue[['product_name', 'total_units_sold']]

Top Performing Products by Units Sold

               product_name  total_units_sold
28             Råskog Stool                36
30             Nockeby Sofa                45
47           Bestå TV Bench                29
33       Fjälla Storage Box                32
5       Brimnes Bed Storage                40
36              Fredde Desk                30
4             Hemnes Daybed                35
25            Docksta Table                28
26             Ivar Cabinet                24
48   Söderhamn Sofa Section                44
12      Terje Folding Chair                26
43          Koppang Dresser                25
45       Valje Wall Cabinet                29
16   Sinnerlig Pendant Lamp                32
41         Småstad Wardrobe                21
0               Ektorp Sofa                32
34     Rugveda Coffee Table                18
39         Lommarp Bookcase                21
38    Mackapar Shoe Storage                31
1            Poäng Armchair                32
37  Bekant Conference Table                34
35         Gronlid Armchair                21
6           Lack Side Table                19
24       Rens Sheepskin Rug                26
2          Klippan Loveseat                28
21     Nordli Chest Drawers                29
7     Melltorp Dining Table                31
9      Kallax Shelving Unit                17
44         Hektar Work Lamp                14
15              Ranarp Lamp                19
31             Kivik Chaise                11
27         Tarva Nightstand                20
19        Pjatteryd Picture                11
17      Skurup Ceiling Lamp                26
20         Stockholm Mirror                22
11           Raskog Trolley                14
49         Mörbylånga Table                32
10           Billy Bookcase                22
13         Ingolf Bar Stool                10
18              Ribba Frame                23
23         Askvoll Wardrobe                23
3            Malm Bed Frame                17
46          Nymö Lamp Shade                28
42      Sjöpenna Floor Lamp                23
29     Strandmon Wing Chair                31
40        Tingby Side Table                28
32            Lerhamn Chair                14
22           Stuva Loft Bed                19
14           Bernhard Chair                17
8                Micke Desk                23

In [63]:
print('Top Clients for The Last Month')
top_clients[['name', 'total_revenue']]

Top Clients for The Last Month

           name  total_revenue
0    Customer_1           8109
32  Customer_33           7154
3    Customer_4           6695
53  Customer_54           6635
51  Customer_52           6110
..          ...            ...
62  Customer_63            726
45  Customer_46            639
86  Customer_87            521
57  Customer_58            496
81  Customer_82            267

[100 rows x 2 columns]